<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Water Sense</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>Water Sense Calibration</h1>
  <div class="notif-container">
    <form id="inputForm">
      <label for="token">Connect to Device</label>
      <button type="submit">Connect</button>
    </form>
    <div id="result"></div>
  </div>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>