<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Water Sense Configuration</h1>
    <div class="container" style="margin-left: 50px;">
        <form id="tokenForm" action="/notification" method="post"> <!-- Changed action to the URL you want to POST to -->
            <label for="token">Notification Token Setup:</label>
            <button type="submit" id="tokenButton">Token</button> <!-- Changed type to submit -->
        </form>
        <div class="{{ token_status }}" id="token_status_led">
            <label style="margin-left: 50px">Status </label>
        </div>
    </div>

    <div class="container" style="margin-left: 50px;">
    <form id="calibrationForm" action="/calibration" method="post">
        <label for="token" >Calibration: </label>
        <button type="submit" id="calibrationButton" onclick="calibration_callback();">Calibration</button>
    </form>
        <div class="led_red" id="calibration_status_led">
            <label style="margin-left: 50px"> Status </label>
        </div>
    </div>
    
    <div class="container" style="margin-left: 50px;">
        <form id="analyticsForm">
            <label for="token">Analytics</label>
            <button type="tokenSubmit" id="analyticsButton" onclick="analytics_callback();">Analytics</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html> 
